<h1>welcome to the lonely blog, where everything is lowercase... yeah, whats on your mind?</h1>

<form id="postform">
    <p>yeah if you wanna make a post just type here. its cool if u dont tho</p>
    <input type="text" id="posttitle" value="title">
    <input type="text" id="postcontent" value="body">
    <input type="submit" value="yeah">
</form>

{{#each post}}
<div class="post" style="border: solid black 3px; margin: 5px">
    <h5>{{User.username}}</h5>
    <h3>{{title}}</h3>
    <p>{{content}}</p>
</div>
{{/each}}
{{!-- TODO: add comment functionality --}}