<h2>yo login or sign up here?</h2>

<h4>login</h4>
<form id='login'>
    <input type="text" id='loginusername' value='username'>
    <input type="text" id='loginpassword' value='password'>
    <input type="submit" id="loginbtn" value='login'>
</form>

<h4>signup</h4>
<form id='signup'>
    <input type="text" id='signupusername' value='username'>
    <input type="text" id='signuppassword' value='password'>
    <input type="submit" id="signupbtn" value='signup'>
</form>

<script src="/login.js"></script>